*
{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

.navbar{
    height:60px;
    background-color: #0f1111;
    display:flex;
    justify-content: space-evenly;
    
}

.logo
{
    background-image: url(./images/image.png);
    width:100%;
    height:50px;
    background-size: cover;
}
.nav-logo
{
    height:60px;
    width:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.border
{
    border:2px solid transparent;
}

.border:hover
{
    border:2px solid white;
}

/* Navbar location */
.navbar-location
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:2px;
    margin-right: 15px;
}
.navbar-location:hover
{
    cursor: pointer;
    border: 1px solid white;
}
.fa-location-dot
{
    color:white;
    font-size:1.5rem;
}
#deliver
{
    color:#ccc;
    font-size:0.8rem;

}
#pakistan
{
    color:#fff;
    font-size:1rem;
}

.icon
{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;;
}


/* Search Bar */

.navbar-search
{
    display:flex;
    background-color: orange;
    height:40px;
    width:500px;
    border-radius: 5px;
    margin-top: 10px;
    justify-content: space-evenly;
}

.navbar-search:hover{
    border:1.5px solid orange;  
}

.search{
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;    
}

.navbar-search input
{
    width:100%;
}

.search-icon
{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
}

/* Navbar sign in option */

.navbar-signin
{
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span
{
    font-size: 0.7rem;
}

#second
{
    font-weight: 680;
    font-size: 0.9rem;
}

.navbar-cart
{
    margin-top: 10px;
    color:white;
    font-size:0.84rem;
    display:flex;
}

.navbar-cart i{
    font-size: 35px;
}
.cart{
    margin-top: 20px;
}

.fa-flag
{
    color:white;
}

.country
{
    color:white;
}
.container
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.language 
{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}


/* *********NavBar lite********* */

.navbarlite-All
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    background-color: #222f3d;
    height:40px;
}
.navbarlite
{
    height:40px;
    background-color: #222f3d;;
    display:flex;
    color:white;
    align-items: center;

}

.navbarlite-others p{
    display:inline;
    margin-left:15px;
    font-size: 0.85rem;
    padding:10px;
}


/* ***********Hero Section Start********** */

.hero-section
{
    background-image: url(./images/heroimage.jpg);
    height: 330px;
    background-size: cover;
}


/* ******Shop section start */

.shop-section:nth-child(even)
{
    background:linear-gradient(rgb(255, 94, 0),white);
}
.shop-section:nth-child(odd)
{
    background:linear-gradient(rgb(252, 175, 131),white);
}
.shop-section
{
    display:flex;
    justify-content: space-evenly;
    background-color: #ccc;
    flex-wrap: wrap;
    
}

.box
{
    height: 420px;
    width:22%;
    /* border:2px solid black; */
    background-color:#fff;
    padding:21px 0px 15px;
    margin:15px;

}


#box1
{
    margin-left:1rem;
    margin-right:1rem;
}

.box-img
{
    height:270px;
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;
}

.box1-content
{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box1-content p{
    color:#007185;
}


/* ******Footer Section******* */

.footer1
{
    background-color: #37475a;
    height: 50px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer2
{
    background-color: #222f3d;
    color:#fff;
    height: 300px;
    display:flex;
    justify-content: space-evenly;
}
ul li{
    list-style: none;
    line-height: 1.5rem;
}
ul a{
    color:white;
    display:block;
    text-decoration: none;
    font-size: 0.8rem;
}
ul a:hover{
    text-decoration: underline;
}
ul 
{
    margin:20px;
}

.footer2 p
{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.footer3
{
    height: 70px;
    background-color: #222f3d;
    color:#fff;
    border-top: 0.001px solid rgb(88, 87, 87);
}


.logo1
{
    height: 50px;
    width:100px;
}

.footer4
{
    background-color: #0f1111;
    color:#fff;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80px;
}
.pages a{
    text-decoration: none;
    color:white;
}

.pages a:hover{
    text-decoration: underline;
}

.pages{
    font-size: 0.8rem;
    color:white;
}

.copyright
{
    font: 0.8rem;
    padding:5px;
}

